	
	html, body{
		overflow-x:hidden;
	}
	*{
		padding:0; margin:0; transition: all .2s;
	}
	img{
		border:none;
	}
	ul{
		list-style:none;
	}
	a{
		text-decoration:none;
	}
	a:hover{
		text-decoration:underline;
	}
	body{
	 
	}
	
	/************************************************ HEADER ************************************************/
	.headw{
		width:100%; 
	}
		.head{
			width:100%;  margin-bottom:10px;
			}
		.head-logo{
			 margin-top:5px;  margin-left:5px; margin-right:5px;
		}	
		.head-logo img {
			border: solid 1px black; width:100%; height:150px;
		}
		.head-name h1{
			position:absolute; right:0; margin-right:5%; font-size:25px; margin-top:30px;
		}
		

/************************************************ MenuText ************************************************/
		.menuw{
			width:100%;  border-bottom:solid 1px black; border-top:solid 1px black; margin-bottom:20px;
		}
		.menu-main{
			width:100%; margin:0 auto; overflow:hidden;
		}
			.menu{
				  font-size:16px; font-weight: bold;
			}
				.menu li{
					float:left; width:100%;
				}
					.menu li a{
						color:#373737; padding:7px 15px; display:block; border:solid 1px; text-align:center;
					}
						.menu a:hover{
							margin-top:2px; 
						}
					
/************************************************ CONTENT ************************************************/					
					
		.contentw{
			 margin-right:5px; margin-left:5px; 
		}
		
		.content-intro{
			 background:#e6e6e6; height:auto; margin-bottom:20px; overflow:auto; padding:5px;
		}	
		.content-intro p{
		font-size:17px; margin-bottom:5px;
		}
		.content-intro h2{
		text-align:center;margin-bottom:8px; 
		}
		.content-video{
		 width:100%; margin-bottom:20px; border:solid 1px;
		}
		.content-video video{
			width:100%; height:100%;
		}
		
		.content-students{
			width:100%; background:#e6e6e6; margin-bottom:10px; overflow:hidden; 
		}
		
		.sdudent{
			width:100%; 
		}
				
		.wizytowka{
			width:90%; float:left; margin-top:20px; margin-bottom:20px; margin-left:14px;
		}
		.wizytowka h4{
		font-size:18px;	text-align:center;
		}
			.wizytowka a{
			width:100%; 
		}
		.wizytowka img{
			width:100%
		}
		
	
		
/************************************************ ASIDE ************************************************/		
		
		.aside1{
			background: #e6e6e6; margin-bottom:5px; padding-bottom:5px; width:100%; overflow:hidden; padding-top:10px;
		}
			.photo1{
			float:left;width:30%; margin-left:3%; margin-right:3%;
		}
			.photo2{
			float:left;width:30%; margin-right:3%;
		}
			.photo3{
			float:left;width:30%; 
		}
		.photo1 img{
			width:100%;
		}
		.photo2 img{
			width:100%;
		}
		.photo3 img{
			width:100%;
		}
		
/************************************************ FOOTER ************************************************/		

		.footer-copy{
			float:left;background: #e6e6e6; width:100%;text-align: center;
		}
		.copy{
			font-size:8px; font-family:Serif;
		}
		
/************************************************ STUDENTS ************************************************/		
		
		.content{
			width:150px; margin-left:10%; float:left; margin-bottom:120px;
		}
		
		.title_s h2{
			text-align:center; margin-bottom:20px; font-size:24px;
		}
		
		.about{
			width:180px;  border:solid 1px red; height:auto;
		}
		.about h4{
			padding:5px; font-size:16px;
		}
		.img_s{
			float:right; width:100px; margin-right:10%; 
		}
		.img_s img{
			width:90%;height:100%; 
		}
		
/************************************************ KONTAKT ************************************************/		
	.title h1{
		text-align: center; margin-bottom:10px; font-size:24px;
	}
	

	.content-email{
		 border:solid 1px red;padding:10px; width:300px; margin-left:10%; float:left; margin-bottom:30px;
	}
	.content-email form input{
		width:100%
	}
	
	
	
	
	@media only screen and (max-width:320px){
		
		
		.copy{
			font-size:8px;
		}
		
	}
	
	@media(min-width:321px) and (max-width:480px){
		.head-name h1{
			font-size:30px;
		}
		.wizytowka{
			width:43%; margin-right:1%; margin-left:4%;
		}
	}
	
	@media(min-width:481px) and (max-width:700px){
		.head-name h1{
			font-size:40px;
		}
		.wizytowka{
			width:43%; margin-right:2%; margin-left:4%;
		}
		.menuw ul{			
			 column-count: 2;
			 padding:1%;
			 height: auto;
		}
		.menuw li{
			padding-bottom:1%;
		}
		.content-intro p{
			font-size:16px;
		}		
	}
	
	@media(min-width:701px) and (max-width:900px){
		.head-name h1{
			font-size:45px;
		}
		.content-video{
			width:90%; margin-left:5%; margin-bottom:40px;
		}
		.wizytowka{
			width:25%; margin-right:4%; margin-left:4%;
		}
		.menuw ul{					
			 column-count: 2;
			 padding:1%;
			 height: auto;
		}
		.menuw li{
			padding-bottom:1%;
		}
		.content-students{
			margin-bottom:40px;
		}
		.content-intro p{
			font-size:16px;
		}
	}
	
	@media(min-width:901px) and (max-width:1024px){
		.head-name h1{
			font-size:52px;
		}
		.head-logo img{
			height:170px;
		}
		.menuw{
		
			 margin-bottom:5px;
		}
		.menuw li{
			padding-bottom:1%;
		}
		.menu-main{
			 width:200px; margin:0 auto;  float:left; margin: 5px 5px; margin-top:18px;
		}
		.content-video{
			width:90%; margin-left:5%; margin-bottom:40px;
		}
		.wizytowka{
			width:28%; margin-right:2%; margin-left:3%;
		}	
		.content-intro p{
			font-size:16px;
		}				
				
	}
	
	@media(min-width:1025px) and (max-width:1360px){
		
		.menu-main{
			width:99%; 
		}
		.menu li{
			float:left; width:13%;
		}
		
			.menu{
				 font-size:13px; width:100%; font-weight: normal;
			}
					.menu li a{
						color:#373737; padding:2px; display:block; margin-left:1%;
					}
		.content-video{
			width:90%; margin-left:5%; margin-bottom:40px;
		}
		.wizytowka{
			width:28%; margin-right:2%; margin-left:3%;
		}	
		.content-intro p{
			font-size:16px;
		}
		.head-name h1{
			font-size:52px;
		}
		.head-logo img{
			height:170px;
		}		
		
	}
		

		
		

		