	
	html, body{
		overflow-x:hidden;
	}
	*{
		padding:0; margin:0; transition: all .2s;
	}
	img{
		border:none;
	}
	ul{
		list-style:none;
	}
	a{
		text-decoration:none;
	}
	a:hover{
		text-decoration:underline;
	}
	body{
	 
	}
	
	/************************************************ HEADER ************************************************/
	.headw{
		width:100%; 
	}
		.head{
			width:100%;  
			}
		.head-logo{
			 margin-top:5px;  margin-left:5px; margin-right:5px;
		}	
		.head-logo img {
			border: solid 1px black; width:100%; height:250px;
		}
		.head-name h1{
			width:100%; text-align: center; margin-bottom:10px;
		}
		

/************************************************ MenuText ************************************************/
		.menuw{
			width:100%;  border-bottom:solid 1px black; border-top:solid 1px black; margin-bottom:10px; 
		}
		.menu-main{
			width:990px; margin:0 auto; overflow:hidden;
		}
			.menu{
				  font-size:13px; 
			}
				.menu li{
					float:left; 
				}
					.menu li a{
						color:#373737; padding:7px 15px; display:block;
					}
						.menu a:hover{
							margin-top:2px; 
						}
					
/************************************************ CONTENT ************************************************/					
					
		.contentw{
			margin-right:16%;  margin-bottom:-40px;
		}
		
		.content-intro{
			width:800px; margin-left:10%; background:#e6e6e6; height:100px; margin-bottom:30px;
		}			
		.content-video{
		 width:80%;	margin-left:20%; margin-bottom:30px; border:solid 1px red;
		}
		.content-video video{
			width:100%; height:100%;
		}
		
		.content-students{
			width:80%; background:#e6e6e6; margin-bottom:50px; overflow:hidden; margin-left:10%;  
		}
		
		.st1-3{
			width:100%; float:left;  overflow:hidden;
		}
		
		.st3-6{
			width:100%; float:left; overflow:hidden;
		}
		
		.wizytowka1{
			width:33%; float:left; text-align:center; margin-bottom:20px; padding-top:10px;
		}
		.wizytowka1 h4{
			
		}
			.wizytowka1 a{
			width:100%;  height:60px; overflow:hidden;
		}
		.wizytowka1 img{
			width:50%;
		}
		.wizytowka2 img{
			width:50%;
		}
		
		.wizytowka2{
			width:33%; float:left; text-align:center; margin-bottom:10px;
		}
		
/************************************************ ASIDE ************************************************/		
		
		.aside1{
			background: #e6e6e6; margin-bottom:20px; padding-bottom:30px; width:100%; overflow:hidden; padding-top:30px;
		}
			.photo1{
			float:left;width:30%; margin-left:3%; margin-right:3%;
		}
			.photo2{
			float:left;width:30%; margin-right:3%;
		}
			.photo3{
			float:left;width:30%; 
		}
		
/************************************************ FOOTER ************************************************/		

		.footer-copy{
			float:left;background: #e6e6e6; width:100%;text-align: center;
		}
		.copy{
			font-size:13px; font-family:Serif;
		}
		
/************************************************ STUDENTS ************************************************/		
		
		.contentw{
			width:52%; margin-left:10%; float:left; margin-bottom:50px;
		}
		
		.title_s h2{
			text-align:center; margin-bottom:20px; 
		}
		
		.about{
			width:700px;  border:solid 1px red;
		}
		.about h4{
			padding:5px;
		}
		.img_s{
			float:right; width:300px; margin-right:10%; 
		}
		.img_s img{
			width:90%;height:350px; 
		}
		
/************************************************ KONTAKT ************************************************/		
	.title h1{
		width:100%; text-align: center; margin-bottom:5px; font-size:20px;
	}
	
	.kontakt{
		width:1100px;margin-left:10%;
	}

	.content-email{
		 border:solid 1px red;padding:10px; width:50%; margin-left:10%; float:left; margin-bottom:50px;
	}
		

		
		
/************************************************ MOBILE_OPTIMISATION ************************************************/ 
	@media(min-width:0px) and (max-width:320px){
		
		.head{
			width:100%;  
			}
		.head-logo{
			 margin-left:1%; margin-right:1%;
		}
		.head-logo img{
			width:100%; height:100%;
		}
		.head-name h1{
			text-align:center; font-size:10px;
		}
		.menu-main {
			width:100%; 
		}
		
	
			.menu{
				 font-size:8px; 
			}
					.menu li{
					padding-right:11px;
				}
					.menu li a{
						color:#373737; padding:2px 4px; 
					}
						
						
		
		.aside1{
			width:100%;overflow:hidden; float:left; padding-top:10px; padding-bottom:10px; text-align:center; margin-bottom:5px; 
		}
		.photo1 img {
			width:100%; 
		}
		.photo2 img {
			width:100%; 
		}
		.photo3 img {
			width:100%;
		}
		.photo1{
			width:30%; 
		}
		.photo2{
			width:30%;
		}
		.photo3{
			width:30%;
		}
		.copy {
			font-size:3px;
		}
		.contentw{
			margin-right:16%;  margin-bottom:-40px; 
		}
		.content-intro{
			width:100%; margin-bottom:10px;
		}
		.articles{
			font-size:6px; padding:3px; text-align:center;
		}
		.content-video{
			width:80%; margin-bottom:10px; 
		}
		.content-video video{
			width:100%; height:100%;
		}
		.content-students{
			width:100%; 
		}
		.wizytowka1 h4{
			font-size:5px;
		}
		.wizytowka2 h4{
			font-size:5px;
		}
		
	}	
	
	@media(min-width:321px) and (max-width:480px){
		
		.head{
			width:100%;
		}
		.head-logo{
			margin-left:1%; margin-right:1%;
		}
		.head-logo img{
			width:100%; height:100%;
		}
		.head-name h1{
			text-align:center; font-size:12px;
		}
		.menu-main {
			width:100%; 
		}
		
			.menu{
				 font-size:8px; 
			}
					.menu li{
					padding-right:11px;
				}
					.menu li a{
						color:#373737; padding:2px 4px; 
					}
		
		
		.aside1{
			width:100%; float:left; padding-top:10px; padding-bottom:10px; margin-bottom:5px; 
		}
		.photo1 img {
			width:100%;
		}
		.photo2 img {
			width:100%;
		}
		.photo3 img {
			width:100%;
		}
		.photo1{
			width:30%;  
		}
		.photo2{
			width:30%;
		}
		.photo3{
			width:30%;
		}
		.copy {
			font-size:5px;
		}
		.contentw{
			margin-right:16%;  margin-bottom:-40px;
		}
		.content-intro{
			width:100%; margin-bottom:10px;
		}
		.articles{
			font-size:8px; padding:3px; text-align:center;
		}
		.content-video{
			width:80%; margin-bottom:10px; 
		}
		.content-video video{
			width:100%; height:100%;
		}
		.content-students{
			width:100%; 
		}
		.wizytowka1 h4{
			font-size:6px;
		}
		.wizytowka2 h4{
			font-size:6px;
		}
		
	}	
	
	@media(min-width:481px) and (max-width:670px){
	
		.head{
			width:100%;
		}
		.head-logo{
			margin-left:1%; margin-right:1%;
		}
		.head-logo img{
			width:100%; height:100%;
		}
		.head-name h1{
			text-align:center; font-size:12px;
		}
		.menuw{
			width:100%;
		}
		.menu-main {
			width:100%; 
		}
		
			.menu{
				 font-size:8px; 
			}
					.menu li{
					padding-right:11px;
				}
					.menu li a{
						color:#373737; padding:2px 4px; display:block;
					}
		
		
		.aside1{
			width:100%; float:left; padding-top:10px; padding-bottom:10px; margin-bottom:5px; 
		}
		.photo1 img {
			width:100%;
		}
		.photo2 img {
			width:100%;
		}
		.photo3 img {
			width:100%;
		}
		.photo1{
			width:30%;  
		}
		.photo2{
			width:30%;
		}
		.photo3{
			width:30%;
		}
		.copy {
			font-size:5px;
		}
		.contentw{
			margin-right:16%;  margin-bottom:-40px;
		}
		.content-intro{
			width:100%; margin-bottom:10px;
		}
		.articles{
			font-size:10px; padding:3px; text-align:center;
		}
		.content-video{
			width:80%; margin-bottom:10px; 
		}
		.content-video video{
			width:100%; height:100%;
		}
		.content-students{
			width:100%; 
		}
		.wizytowka1 h4{
			font-size:6px;
		}
		.wizytowka2 h4{
			font-size:6px;
		}
		
		
	}	
	@media(min-width:671px) and (max-width:768px){
	
		.head{
			width:100%;
		}
		.head-logo{
			margin-left:1%; margin-right:1%;
		}
		.head-logo img{
			width:100%; height:100%;
		}
		.head-name h1{
			text-align:center; font-size:14px;
		}
		.menuw{
			width:100%;
		}
		.menu-main {
			width:100%; 
		}
		.menuw{
			width:100%;
		}
			.menu{
				 font-size:8px; width:80%;
			}
					.menu li{
					padding-right:11px;
				}
					.menu li a{
						color:#373737; padding:2px 4px; display:block;
					}
		
		
		.aside1{
			width:100%; float:left; padding-top:10px; padding-bottom:10px; margin-bottom:5px; 
		}
		.photo1 img {
			width:100%;
		}
		.photo2 img {
			width:100%;
		}
		.photo3 img {
			width:100%;
		}
		.photo1{
			width:30%;  
		}
		.photo2{
			width:30%;
		}
		.photo3{
			width:30%;
		}
		.copy {
			font-size:6px;
		}
		.contentw{
			margin-right:16%;  margin-bottom:-40px;
		}
		.content-intro{
			width:100%; margin-bottom:10px;
		}
		.articles{
			font-size:11px; padding:3px; text-align:center;
		}
		.content-video{
			width:80%; margin-bottom:10px; 
		}
		.content-video video{
			width:100%; height:100%;
		}
		.content-students{
			width:100%; 
		}
		.wizytowka1 h4{
			font-size:8px;
		}
		.wizytowka2 h4{
			font-size:8px;
		}
		
		
	}	
	@media(min-width:769px) and (max-width:992px){
	
		.head{
			width:100%;
		}
		.head-logo{
			margin-left:1%; margin-right:1%;
		}
		.head-logo img{
			width:100%; height:100%;
		}
		.head-name h1{
			text-align:center; font-size:16px;
		}
		.menuw{
			width:100%;
		}
		.menu-main {
			width:100%; 
		}
		.menuw{
			width:100%;
		}
			.menu{
				 font-size:8px; width:80%;
			}
					.menu li{
					padding-right:11px;
				}
					.menu li a{
						color:#373737; padding:2px 4px; display:block;
					}
		
		
		.aside1{
			width:100%; float:left; padding-top:10px; padding-bottom:10px; margin-bottom:5px; 
		}
		.photo1 img {
			width:100%;
		}
		.photo2 img {
			width:100%;
		}
		.photo3 img {
			width:100%;
		}
		.photo1{
			width:30%;  
		}
		.photo2{
			width:30%;
		}
		.photo3{
			width:30%;
		}
		.copy {
			font-size:7px;
		}
		.contentw{
			margin-right:16%;  margin-bottom:-40px;
		}
		.content-intro{
			width:100%; margin-bottom:10px;
		}
		.articles{
			font-size:11px; padding:3px; text-align:center;
		}
		.content-video{
			width:80%; margin-bottom:10px; 
		}
		.content-video video{
			width:100%; height:100%;
		}
		.content-students{
			width:100%; 
		}
		.wizytowka1 h4{
			font-size:10px;
		}
		.wizytowka2 h4{
			font-size:10px;
		}
		
		
	}	
	@media (min-width:993px) and (max-width:1280px){
	
		.head{
			width:100%;
		}
		.head-logo{
			margin-left:1%; margin-right:1%;
		}
		.head-logo img{
			width:100%; height:100%;
		}
		.head-name h1{
			text-align:center; font-size:20px;
		}
	.menuw{
			width:100%;  border-bottom:solid 1px black; border-top:solid 1px black; margin-bottom:10px; 
		}
		.menu-main{
			width:85%; margin:0 auto; overflow:hidden;
		}
			.menu{
				  font-size:11px; 
			}
				.menu li{
					float:left; 
				}
					.menu li a{
						color:#373737; padding:6px 13px; display:block;
					}
						.menu a:hover{
							margin-top:2px; 
						}
		
		
		.aside1{
			width:100%; float:left; padding-top:10px; padding-bottom:10px; margin-bottom:5px; 
		}
		.photo1 img {
			width:100%;
		}
		.photo2 img {
			width:100%;
		}
		.photo3 img {
			width:100%;
		}
		.photo1{
			width:30%;  
		}
		.photo2{
			width:30%;
		}
		.photo3{
			width:30%;
		}
		.copy {
			font-size:8px;
		}
		.contentw{
			margin-right:16%;  margin-bottom:-40px;
		}
		.content-intro{
			width:70%; margin-bottom:10px;
		}
		.articles{
			font-size:12px; padding:5px;
		}
		.content-video{
			width:70%; margin-bottom:10px; 
		}
		.content-video video{
			width:100%; height:100%;
		}
		.content-students{
			width:100%; 
		}
		.wizytowka1 h4{
			font-size:12px;
		}
		.wizytowka2 h4{
			font-size:12px;
		}
		
		
	}	
	@media (min-width:1281px){
	
		.head{
			width:100%;
		}
		.head-logo{
			margin-left:1%; margin-right:1%;
		}
		.head-logo img{
			width:100%; height:100%;
		}
		.head-name h1{
			 font-size:22px; text-align:center;
		}
	.menuw{
			width:100%;  border-bottom:solid 1px black; border-top:solid 1px black; margin-bottom:10px; 
		}
		.menu-main{
			width:990px; margin:0 auto; overflow:hidden
		}
			.menu{
				  font-size:12px; width:100%; 
			}
				.menu li{
					float:left; 
				}
					.menu li a{
						color:#373737; padding:6px 13px; display:block;
					}
						.menu a:hover{
							margin-top:2px; 
						}
		
		
		.aside1{
			width:100%; float:left; padding-top:10px; padding-bottom:10px; margin-bottom:5px; 
		}
		.photo1 img {
			width:100%;
		}
		.photo2 img {
			width:100%;
		}
		.photo3 img {
			width:100%;
		}
		.photo1{
			width:30%;  
		}
		.photo2{
			width:30%;
		}
		.photo3{
			width:30%;
		}
		.copy {
			font-size:9px;
		}
		.contentw{
			margin-right:16%;  margin-bottom:0px;
		}
		.content-intro{
			width:70%; margin-bottom:40px;
		}
		.articles{
			font-size:13px; padding:5px;
		}
		.content-video{
			width:70%; margin-bottom:40px; 
		}
		.content-video video{
			width:100%; height:100%;
		}
		.content-students{
			width:100%; 
		}
		.wizytowka1 h4{
			font-size:14px;
		}
		.wizytowka2 h4{
			font-size:14px;
		}
		
		
	}	
		