*{
	padding:0; margin:0;
}
img{
	border:none;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
body{
	font-family:Arial, Helvetica, sans-serif; line-height:1.3;
}
.head-wrapper{
	width:100%; overflow:hidden;
}
	.head{
		width:100%; margin:0 auto; padding:15px0;
		}
	.head-logo{
		float:left; margin:20px 0 0 0; width:100%; 
	}	
	.head-logo img {
		border: solid 1px red; width:100%; height:300px;
	}
	.head-name h1{
		width:100%; text-align: center; 
	}
	.head-banner{
		float:right;
	}

	.menu-main{
		width:990px; margin:0 auto; overflow:hidden; margin-bottom:20px;
	}
		.menu{
			float:left; font-size:13px;
		}
			.menu li{
				float:left;
			}
				.menu li a{
					color:#373737; padding:7px 15px; display:block;
				}
	
	.content-students{
		margin-bottom:20px;
	}
	
	.aside1{
		background: #e6e6e6; margin-bottom:20px; padding-bottom: 160px; width: 100%; padding-top:35px;
	}
		.photo1{
		float:left;width:30%; margin-left:30px; margin-right:30px;
	}
		.photo2{
		float:left;width:30%; margin-right:30px; 
	}
		.photo3{
		float:left;width:30%; margin-right:30px; 
	}

	.footer-copy{
		float:left;background: #e6e6e6; width:100%;text-align: center
	}
	.copy{
		font-size:13px; font-family:Serif;
	}