	
	html, body{
		overflow-x:hidden;
	}
	*{
		padding:0; margin:0; transition: all .2s;
	}
	img{
		border:none;
	}
	ul{
		list-style:none;
	}
	a{
		text-decoration:none;
	}
	a:hover{
		text-decoration:underline;
	}
	body{
	 
	}
	
	/************************************************ HEADER ************************************************/
	.head-wrapper{
		width:100%; 
	}
		.head{
			width:100%;  
			}
		.head-logo{
			 margin-top:5px;  margin-left:5px; margin-right:5px;
		}	
		.head-logo img {
			border: solid 1px black; width:100%; height:250px;
		}
		.head-name h1{
			width:100%; text-align: center; margin-bottom:10px;
		}
		

/************************************************ MenuText ************************************************/
		.menu-main{
			width:935px; margin:0 auto; overflow:hidden; margin-bottom:10px; border-bottom:solid 1px black; border-top:solid 1px black;
		}
			.menu{
				float:left; font-size:13px; 
			}
				.menu li{
					float:left; 
				}
					.menu li a{
						color:#373737; padding:7px 15px; display:block;
					}
						.menu a:hover{
							margin-top:2px; 
						}
					
/************************************************ CONTENT ************************************************/					
					
		.content-wrapper{

		}
		
		.content-intro{
			width:800px; margin-left:10%; background:#e6e6e6; height:100px; margin-bottom:30px;
		}			
		.content-video{
			margin-left:15%; margin-bottom:30px; border:solid 1px red; width:700px;
		}
		
		.content-students{
			width:80%; background:#e6e6e6; margin-bottom:50px; overflow:hidden; margin-left:10%;  
		}
		
		.st1-3{
			width:100%; float:left;  overflow:hidden;
		}
		
		.st3-6{
			width:100%; float:left; overflow:hidden;
		}
		
		.wizytowka1{
			width:33%; float:left; text-align:center; margin-bottom:20px; padding-top:10px;
		}
		.wizytowka1 h4{
			
		}
			.wizytowka1 a{
			width:100%;  height:60px; overflow:hidden;
		}
		.wizytowka1 img{
			width:50%;
		}
		.wizytowka2 img{
			width:50%;
		}
		
		.wizytowka2{
			width:33%; float:left; text-align:center; margin-bottom:10px;
		}
		
/************************************************ ASIDE ************************************************/		
		
		.aside1{
			background: #e6e6e6; margin-bottom:20px; padding-bottom:30px; width:100%; overflow:hidden; padding-top:30px; text-align:center;
		}
			.photo1{
			float:left;width:30%; margin-left:30px; margin-right:30px;
		}
			.photo2{
			float:left;width:30%; margin-right:30px; 
		}
			.photo3{
			float:left;width:30%; 
		}
		
/************************************************ FOOTER ************************************************/		

		.footer-copy{
			float:left;background: #e6e6e6; width:100%;text-align: center;
		}
		.copy{
			font-size:13px; font-family:Serif;
		}
		
/************************************************ STUDENTS ************************************************/		
		
		.content{
			width:52%; margin-left:10%; float:left; margin-bottom:50px;
		}
		
		.title_s h2{
			text-align:center; margin-bottom:20px; 
		}
		
		.about{
			width:700px;  border:solid 1px red;
		}
		.about h4{
			padding:5px;
		}
		.img_s{
			float:right; width:300px; margin-right:10%; 
		}
		.img_s img{
			width:90%;height:350px; 
		}
		
/************************************************ KONTAKT ************************************************/		
	.title h1{
		width:100%; text-align: center; margin-bottom:5px; font-size:20px;
	}
	
	.kontakt{
		width:1100px;margin-left:10%;
	}

	.content-email{
		 border:solid 1px red;padding:10px; width:50%; margin-left:10%; float:left; margin-bottom:50px;
	}
		

		
		
/************************************************ MOBILE_OPTIMISATION ************************************************/ 
	@media(min-width:0px) and (max-width:320px){
		
		.head-logo{
			width:100%;
		}
		.head-logo img{
			width:320px; height:100px;
		}
		.head-name h1{
			text-align:center; font-size:20px;
		}
		.menu-main {
			width:300px; 
		}
		
		.aside1{
			width:320px;overflow:hidden; float:left; padding-top:10px; padding-bottom:10px; text-align:center; margin-bottom:5px; 
		}
		.photo1 img {
			width:90px; 
		}
		.photo2 img {
			width:100px; 
		}
		.photo3 img {
			width:100px;
		}
		.photo1{
			width:90px; overflow:hidden; margin-left:6px; margin-right:7px;
		}
		.photo2{
			width:90px;overflow:hidden;margin-left:0px; margin-right:7px;
		}
		.photo3{
			width:90px;overflow:hidden;margin-left:0px; float:left;
		}
		.copy {
			font-size:5px;
		}
		.content-wrapper{
			margin-right:50px;  margin-bottom:10px; margin-bottom:-40px;
		}
		.content-intro{
			width:100%; margin-bottom:10px;
		}
		.articles{
			font-size:10px; padding:2px;
		}
		.content-video{
			width:0 auto; margin-bottom:10px;
		}
		.content-students{
			width:100%; 
		}
		.wizytowka1 h4{
			font-size:6px;
		}
		.wizytowka2 h4{
			font-size:6px;
		}
		
	}	
	
	@media(min-width:321px) and (max-width:480px){
	
		.head-logo{
			width:100%;
		}
		.head-logo img{
			width:350px; height:120px;
		}
		.head-name h1{
			text-align:center; font-size:15px;
		}
		.menu-main {
			width:100%; 
		}
		
		
		.aside1{
			width:100%; float:left; padding-top:10px; padding-bottom:10px; margin-bottom:5px; 
		}
		.photo1 img {
			width:100%;
		}
		.photo2 img {
			width:100%;
		}
		.photo3 img {
			width:100%;
		}
		.photo1{
			width:100px; overflow:hidden; margin-left:10px; margin-right:10px;
		}
		.photo2{
			width:100px;overflow:hidden;margin-left:10px;
		}
		.photo3{
			width:100px;overflow:hidden;
		}
		.copy {
			font-size:8px;
		}
		.content-wrapper{
			margin-right:50px;  margin-bottom:10px; margin-bottom:-40px;
		}
		.content-intro{
			width:100%; margin-bottom:10px;
		}
		.articles{
			font-size:12px; padding:5px;
		}
		.content-video{
			width:0 auto; margin-bottom:10px;
		}
		.content-students{
			width:100%; 
		}
		.wizytowka1 h4{
			font-size:5px;
		}
		.wizytowka2 h4{
			font-size:5px;
		}
		
	}	
	
	@media(min-width:481px) and (max-width:670px){
	
		.head-logo{
			width:100%;
		}
		.head-logo img{
			width:200px; height:130px;
		}
		.head-name h1{
			text-align:center; font-size:22px;
		}
	/*	.menu-main {
			width:100%; 
		}
		
		
		.aside1{
			width:100%; float:left; padding-top:10px; padding-bottom:10px; margin-bottom:5px; 
		}
		.photo1 img {
			width:130px; 
		}
		.photo2 img {
			width:130px; 
		}
		.photo3 img {
			width:130px;
		}
		.photo1{
			width:120px; overflow:hidden; margin-left:14px; margin-right:14px;
		}
		.photo2{
			width:120px;overflow:hidden;margin-left:14px;
		}
		.photo3{
			width:120px;overflow:hidden;
		}
		.copy {
			font-size:10px;
		}
		.content-wrapper{
			margin-right:50px;  margin-bottom:10px; margin-bottom:-40px;
		}
		.content-intro{
			width:100%; margin-bottom:10px;
		}
		.articles{
			font-size:12px; padding:5px;
		}
		.content-video{
			width:0 auto; margin-bottom:10px;
		}
		.content-students{
			width:100%; 
		}
		.wizytowka1 h4{
			font-size:6px;
		}
		.wizytowka2 h4{
			font-size:6px;
		}*/
		
	}	
		